services:
  - type: web
    name: influencerhub-backend
    runtime: node
    plan: free
    region: ohio
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
    domains:
      - influncerhub.onrender.com